@using Tvl.Models.Login;
@model ChangePasswordCredentials
@{
    ViewBag.Title = ViewData["Title"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <Merge Conflict>
        <link href="~/css/LoginStyle.css" rel="stylesheet" />
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <title>TVL Create New Password Screen</title>
</head>
<body style="background-color:  whitesmoke">
    <div class="container">
        <!--Form start-->
        <form method="post" asp-action="RequestNewPassword" asp-controller="Login">
            <img src="~/images/PATSI-temp.jpg" class="PATSI-logo" alt="PATSI logo">
            <img src="~/images/tvl-temp.jpg" class="TVL-logo" alt="TVL logo">
            <div class="login-header">
                <h2>Forgotten your password?</h2>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group login-indent spacing">
                <label asp-for="Email"><strong>Username</strong></label>
                <input asp-for="@Model.Email" class="form-control" tabindex="1">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn-primary" tabindex="3">Submit</button>
            <div id="div-error-message-box" class="error-message-box hide-error-message-box login-indent">
            </div>
        </form>
        <!--Form End-->
    </div>
    <script src="./lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/Login.js" asp-append-version="true"></script>

</body>
</html>
@if (!string.IsNullOrWhiteSpace(Model.ErrorMessages))
{
    <script type="text/javascript">
            $(function () {
                $("#div-error-message-box").text(@Model.ErrorMessages);
                // to add conditions for displaying the correct criteria image
                $("#passwordLength").innerHTML = '<img src="~/images/criteria_' + "met" + '_icon.svg" id="criteriaIcon" class="criteriaIcon"/>';
            });

    </script>
}
