@using Tvl.Models.Login;
@model Credentials
@{
    ViewBag.Title = ViewData["Title"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">``
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <Merge Conflict>
        <link href="~/css/LoginStyle.css" rel="stylesheet" />
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <title>TVL Login Screen</title>
</head>
<body style="background-color:  whitesmoke">

    <div class="container">

        <!--Form start-->
        <form method="post" asp-action="Login" asp-controller="Login">
            <img src="~/images/PATSI-temp.jpg" class="PATSI-logo" alt="PATSI logo">
            <img src="~/images/tvl-temp.jpg" class="TVL-logo" alt="TVL logo">
            <div class="login-header">
                <h2>Log in</h2>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group login-indent">
                <label asp-for="Username"><strong>Username</strong></label>
                <input asp-for="@Model.Username" class="form-control" tabindex="1">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group login-indent">
                <label asp-for="Password"><strong>Password</strong></label>
                <input type="password" id="password" asp-for="@Model.Password" class="form-control" tabindex="2">
                <span><i class="fas fa-eye" id="togglePassword"></i></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn-primary" tabindex="3">Login</button>
            <div><a class="forget login-indent" href="#" tabindex="4">Forgotten your password?</a></div>
            <div id="div-error-message-box" class="error-message-box hide-error-message-box login-indent">
            </div>
        </form>
        <!--Form End-->
    </div>
    <script src="./lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/Login.js" asp-append-version="true"></script>

</body>
</html>
@if (Model.CredentialVerificationResponse != null)
{
    if (!string.IsNullOrWhiteSpace(Model.CredentialVerificationResponse.ErrorMessage))
    {
        <script type="text/javascript">
            $(function () {
                $("#div-error-message-box").text(@Model.CredentialVerificationResponse.ErrorMessage);
            });
          
        </script>
    }
}