@using Tvl.Models.Login;
@model ChangePasswordCredentials
@{
    ViewBag.Title = ViewData["Title"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <Merge Conflict>
        <link href="~/css/LoginStyle.css" rel="stylesheet" />
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <title>TVL Email Confirmation Screen</title>
</head>
<body style="background-color:  whitesmoke">
    <div class="container">
        <!--Form start-->
        <form>
            <img src="~/images/PATSI-temp.jpg" class="PATSI-logo" alt="PATSI logo">
            <img src="~/images/tvl-temp.jpg" class="TVL-logo" alt="TVL logo">
            <div class="login-header">
                <h2>We've sent you an email</h2>
            </div>
            <div class="login-indent spacing">
                <p>The email we've sent you contains a link to reset your password, which will be valid for ?? hours. After this, you will need to request a new link.</p>
                <p>If you don't think the email has been delivered, please check your spam folder.</p>
            </div>
        </form>
        <!--Form End-->
    </div>
    <script src="./lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/Login.js" asp-append-version="true"></script>

</body>
</html>