* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

body {
    min-height: 100vh;
    background: #004b6d;
    display: flex;
}

h1 {
    font-weight: 400;
    font-size: 28pt;
    line-height: 34pt;
    color: #518fae;
}

h2 {
    font-weight: 400;
    font-size: 22pt;
    line-height: 27pt;
    color: #004b6d;
}

h3 {
    font-weight: 700;
    font-size: 16pt;
    line-height: 19pt;
    color: #004b6d;
}

p {
    font-weight: 400;
    font-size: 14pt;
    line-height: 21pt;
    color: #1E1E1E;
}

ul {
    list-style-position: outside;
    list-style-type: disc;
    color: #518fae;
    margin-left: -20px;
}

li {
    font-weight: 400;
    font-size: 17pt;
    line-height: 23pt;
    color: #1E1E1E;
}

    li a {
        text-decoration: underline solid #1E1E1E;
    }

a {
    font-weight: 700;
    color: #004b6d;
    text-decoration: underline solid #004b6d;
}

.container {
    margin: auto;
    width: 500px;
    max-width: 100%;
}

    .container form {
        margin-left: 0px;
        width: 120%;
        height: 100%;
        padding: 3%;
        background: white;
        border-radius: 7px;
        box-shadow: 0 0px 0px rgba(0, 0, 0, .3);
    }

        .container form .form-control {
            width: 100%;
            height: 40px;
            background: white;
            border-radius: 10px;
            border: 1px solid #adbfc3;
            margin: 10px 0 18px 0;
            padding: 0 10px;
            margin-bottom: 24px;
        }

.btn-primary {
    margin-left: 64px;
    transform: translateX(-50%);
    cursor: pointer;
    transition: .3s;
    margin-bottom: 24px;
    height: 40px;
    width: auto;
    padding: 0 12px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 700;
    background-color: #bdd01c;
    color: #1E1E1E;
}

    .btn-primary:hover {
        background-color: #004b6d;
        color: White;
    }

.btn-primary-disabled {
    background-color: #707070;
    color: #adbfc3;
}

.forget {
    cursor: pointer;
    font-size: 12px;
    color: black;
}

span {
    color: #518fae;
    float: right;
    margin-right: 15px;
    margin-top: 16px;
    transform: translate(0,-300%);
}

.TVL-logo {
    float: right;
    margin-right: 24px;
    margin-top: 58px;
    transform: translate(0,-100%);
    height: 40px;
}

.PATSI-logo {
    float: left;
    margin-left: 24px;
    margin-top: 58px;
    transform: translate(0,-100%);
    height: 40px;
}

.login-header {
    margin-top: 98px;
    margin-left: 24px;
}

.login-indent {
    margin-left: 24px;
    margin-right: 24px;
}